{% extends "index.html" %}

{% block body %}

<h1>Connectez vous</h1>

<form method = "post">
    <input autocomplete = "off" autofocus placeholder = "username" name = "username" type = "text" required>
    <input autocomplete = "off" placeholder = "password" name = "password" type = "password" required>
    <button type = "submit">Connectez vous</button>
</form>
<p>Vous n'avez pas de comptes?</p>
<a href = "/regist">Inscrivez vous</a>
{% with messages = get_flashed_messages(with_categories = true )%}
    {% if messages %}
        {% for categorie, message in messages%}
            <p class = "flash-messages {{categorie}}">{{messsage}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}